*{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 400;
    outline: none;
}

.material-symbols-outlined {
    font-variation-settings:
            'FILL' 0,
            'wght' 400,
            'GRAD' 0,
            'opsz' 24
}

html, body{width:100%;height:100%;padding:0;margin:0;background: rgba(0, 0, 0, .2);overflow: hidden;}

input[type="text"],
input[type="search"],
input[type="password"]{border:none;border-bottom:solid 1px #9FA7B4;background:none;box-sizing: border-box;width:150px;}
input[type="text"]:focus,
input[type="search"]:focus,
input[type="password"]:focus{border-bottom-color:#3B444E;}

.modal{max-height:750px;height:100%;box-sizing:border-box;transition:all .3s;position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);background:#fff;padding:1em;box-shadow: 0 1px 3px rgba(0, 0, 0, .3);display:flex;flex-direction: column;overflow: hidden;}
.modal.hidden{opacity: 0;pointer-events: none;margin-top:50px;}

.modal.start{height:270px;}

.modal.start div.envs{display:flex;justify-content: center;}

.modal .steps{display:flex;gap:1em;}
.modal .steps .step{width:400px;display:flex;flex-direction: column;align-items: center;gap:1em;}
.modal .steps .step .number{display:flex;width:30px;height:30px;align-items: center;justify-content: center;border-radius: 50%;background:#27ae60;color:#fff;font-weight: bold;position:relative;}
.modal .steps .step .number span{display:none;position:absolute;left:50%;top:50%;transform: translate(-50%, -50%);}
.modal .steps .step .number.done{color:#27ae60;}
.modal .steps .step .number.done span{display:block;color:#fff;}
.modal .steps .step .number.close{color: #ae2727;background:#ae2727;}
.modal .steps .step .number.close span{display:block;color:#fff;content:'close';}
.modal .steps .step label{font-size:0.9em;}
.modal .steps .step .button{display:flex;align-items: center;gap:0.5em;}
.modal .steps .step .button>label{cursor: pointer;font-size: 24px;}
.modal .steps .step .button input[type="text"]{width:100%;}
.modal .steps .step .form{display:flex;flex-wrap: wrap;gap:0.5em;}
.modal .steps .step input[type="text"],
.modal .steps .step input[type="password"]{border:none;width:calc(50% - .5em);border-bottom:solid 1px #9FA7B4;background:none;box-sizing: border-box;}
.modal .steps .step input[type="text"]:focus,
.modal .steps .step input[type="password"]:focus{border-bottom-color:#3B444E;}

.modal .steps .step .form .domain,
.modal .steps .step .form .button{width:100%;}

input[name="file_select"]{display:none;}

.modal .actions{justify-content: center;display:flex;margin-top:2em;height:45px;overflow:hidden;}
.modal header .button, .modal .actions .go{display:flex;align-items: center;gap:.5em;padding:.5em 1em;background:#297FB8;color:#fff;font-size:0.9em;cursor: pointer;border-bottom:solid 2px #77afd7;transition:all .3s;}

.modal .actions.loading{background:url("imgs/Loading.gif") no-repeat center center;background-size:32px 32px;}
.modal .actions.loading .go{transform:translateY(-40px);opacity: 0;pointer-events: none;}

.modal.file{width:800px;}
.modal header{display:flex;justify-content: space-between;align-items:center;flex: 0 0 auto;}
.modal header h2{margin:0;padding:0;font-size:1.2em;display:flex;gap:.5em;align-items: center;}
.modal header h2 span{font-size:0.8em;display:block;background:#eaeaea;padding:2px 5px;}
.modal header h2 .button{}

.modal .body{flex:1 1 auto;display:flex;flex-direction: column;overflow:hidden;}
.modal .body .loading_message{display:flex;flex-direction:column;align-items: center;justify-content: center;height:600px;}
.file .body .form{display:flex;justify-content: space-between;align-items: center;padding:1em;}
.file .body .form label{font-size:0.9em;}
.file .body .form .unversioned{}
.file .body .form .unversioned.loading{padding-left:30px;background:url("imgs/Loading.gif") no-repeat left center;background-size: contain;}
.modal .body .list{flex:1 1 auto;overflow: auto;}
.modal .body .list .sublist{padding-bottom:.5em;}
.modal .body .list .sublist{}
.modal .body .list .sublist .title{position:sticky;top:0;padding:10px 15px;font-size:0.9em;background: #dcebfd;font-weight: 400;}
.file .body .list .sublist .day{display:flex;align-items: center;padding:5px;gap:5px;}
.file .body .list .sublist .day:hover{background:#fafafa;}
.file .body .list .sublist .day div.checkbox{flex: 0 0 auto;height:30px;width:30px;}
.file .body .list .sublist .day label.name{flex: 1 1 auto;font-size:.9em;cursor:pointer;}
.file .body .list .sublist .day div.hours{flex: 0 0 auto;width:60px;display:flex;justify-content: center;font-size:0.7em;color:#999;}

.modal.comparison{width:1200px;}

.modal.comparison .body{overflow: auto;margin-top:1em;}
.comparisons .comparison{display:flex;flex-wrap: wrap; gap:.5em;overflow:auto;border:solid 1px #eee;border-top:none;margin-bottom:1.5em;}
.comparisons .identicals{display:flex;align-items: center;justify-content: center;padding: 1em 0;font-size:0.8em;color:#999;font-style: italic;border:solid 1px #eee;border-top:none;margin-bottom:1.5em;}
.comparisons .filename{font-size:0.7em;display:flex;justify-content:space-between;background:#fafafa;position:sticky;top:0;align-items: center;padding:.5em;border:solid 1px #eee;border-bottom:none;}
.comparisons .filename>div{display:flex;gap:.5em;align-items: center;}
.comparisons .filename>div .additions{color:#27ae60;}
.comparisons .filename>div .deletions{color:#C1392D;}
.comparisons .filename>div .upload{display:flex;align-items: center;}
.comparisons .file{width:calc(50% - .5em);overflow:auto;border-left:solid #eaeaea 1px;}
.comparisons .file .hidden_lines{width:100%;height:20px;background: #eef4fc;}
.comparisons .file .line{display:flex;align-items: center;}
.comparisons .file .line .number{width:40px;flex:0 0 auto;font-size:0.7em;text-align: center;color:#666;}
.comparisons .file .line .data{flex:1 1 auto;margin:0;font-size:0.9em;border-left:1px solid #eaeaea;padding-left:5px;}

.modal.upload{width:800px;}
.modal.upload .body .loading_message .steps{flex-direction: column;}
.modal.upload .body .loading_message .steps>div{display:flex;align-items: center;gap:1em;}
.modal.upload .body .loading_message .steps>div>span{display:none;}
.modal.upload .body .loading_message .steps>div.done{color:#27ae60;}
.modal.upload .body .loading_message .steps>div.done span.done{display:block;}
.modal.upload .body .loading_message .steps>div.error{color:#C1392D;}
.modal.upload .body .loading_message .steps>div.error span.error{display:block;}
.modal.upload .body .loading_message .steps>div.current{color:#444;}
.modal.upload .body .loading_message .steps>div.waiting{color:#9FA7B4}
.modal.upload .body .loading_message .steps>div.waiting span.current,
.modal.upload .body .loading_message .steps>div.current span.current{display:block;}

div.deleted{background:rgba(255, 0, 0, .2);}
div.added{background:rgba(0, 255, 0, .2);}